{% extends 'user/userbase.html' %}
{% load static %}
{% block content %}
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
        </div>
    </div>
    {% if data %}
        <div class="row d-flex justify-content-center">
            {% for i in data %}
                <div class="col-lg-3 col-md-4 col-sm-6 p-5 mt-3 products-index-items" style="position: relative;"> {% if i.stock != 0 %}
                    {% if i.product_name not in wishlist %}
                    <a href="{% url 'wishlistadd' i.id %}" onclick="wishlistadd()">
                        <div class="d-flex justify-content-center wishlist">
                            <i class="fa fa-light fa-heart"></i>
                        </div>
                    </a>
                    {% else %}
                    <a href="{% url 'wishlistadd' i.id %}" onclick="wishlistdelete()">
                        <div class="d-flex justify-content-center wishlist">
                            <i class="fa fa-light fa-heart" style="color:red;"></i>
                        </div>
                    </a>
                    {% endif %}
                    {% endif %}

                    
                        <a href=""><img src="{{ i.image.url }}" class="img-fluid border p-3"></a>
                        <a href="" class="text-decoration-none">
                        <span class="h5 mt-3 mb-3 text-dark">{{ i.product_name }}</span><br>
                        {% if i.stock != 0 %}
                        {% if i.product_offer != 0 or i.category.category_offer != 0 %}
                        <span class="h3 text-decoration-none text-dark">₹  {{ i.get_product_price }}</span><br> 
                        {% if i.product_offer > i.category.category_offer %}    
                        <span class="fs-6 text-decoration-none text-secondary"><del>₹  {{ i.price }}</del> ({{ i.product_offer }} % Off)</span>
                        {% else %}
                        <span class="fs-6 text-decoration-none text-secondary"><del>₹  {{ i.price }}</del> ({{ i.category.category_offer }} % Off)</span>
                        {% endif %}
                        {% else %}
                        <span class="h3 text-decoration-none text-dark">₹  {{ i.price }}</span>
                        {% endif %}
                        {% else %}
                        <span class="h3 text-decoration-none text-danger">Out of stock!!</span>
                        </a>
                        {% endif %}
                   
                    </div>
                 {% endfor %}    
                        </div>
                    {% else %}
                        <div>
                            <p>No products available!!</p>
                        </div>
                    {% endif %}
                </section>
    
 {% endblock content%}